.title {
  color: white !important;
  font-size: 22px;
}

.menuitem {
  color: rgb(237, 208, 106) !important;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  padding: 8px;
  margin: 0 16px 0 0;
}
.menuitem:hover {
  color: white !important;
}

.menubutton {
  border: none;
  color: white !important;
}

.logo,
.logo:hover,
.logo:visited {
  color: white;
  border: none;
  text-decoration: none;
}
