@import url(bootstrap/dist/css/bootstrap.min.css);
@import url(typeface-open-sans/index.css);
@import url(typeface-lora/index.css);

/* Full height please, next! https://gist.github.com/dmurawsky/d45f068097d181c733a53687edce1919 */
html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  height: 100%;
}

body {
  /* Leave room for fixed navigation across the top */
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  /* TODO: should do this by overriding Bootstrap theme... */
  background-color: white;
  color: rgb(53, 58, 64);
}
